<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://cxf.apache.org/jaxrs
                           http://cxf.apache.org/schemas/jaxrs.xsd
                           http://cxf.apache.org/core 
                           http://cxf.apache.org/schemas/core.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util.xsd">
  
  <bean id="systemPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="order" value="1"/>
    <property name="location" value="file:#{(systemProperties['syncope.console.configuration'])}"/>
    <property name="ignoreResourceNotFound" value="true"/>
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
  </bean>
  <bean id="defaultPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:configuration.properties</value>
      </list>
    </property>
  </bean>

  <bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
    <property name="depthProperties">
      <bean id="depthProperties" class="org.apache.cxf.staxutils.DocumentDepthProperties">
        <property name="innerElementCountThreshold" value="500"/>
      </bean>
    </property>
    <property name="marshallerProperties">
      <map>
        <entry key="jaxb.formatted.output">
          <value type="java.lang.Boolean">true</value>
        </entry>
      </map>
    </property>
    <property name="collectionWrapperMap">
      <map>
        <entry>
          <key>
            <value>org.apache.syncope.common.to.PolicyTO</value>
          </key>
          <value>policies</value>
        </entry>
      </map>
    </property>
  </bean>

  <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider"/>

  <bean id="exceptionMapper" class="org.apache.syncope.client.rest.utils.RestClientExceptionMapper"/>

  <bean id="restClientFactory" class="org.apache.cxf.jaxrs.client.JAXRSClientFactoryBean">
    <property name="address" value="${scheme}://${host}:${port}/${rootPath}"/>
    <property name="threadSafe" value="true"/>
    <property name="username" value="admin"/>
    <property name="password" value="password"/>
    <property name="inheritHeaders" value="true"/>
    <property name="features">
      <list>
        <cxf:logging/>
      </list>
    </property>
    <property name="providers">
      <list>
        <ref bean="jaxbProvider"/>
        <ref bean="jsonProvider"/>
        <ref bean="exceptionMapper"/>
      </list>
    </property>
  </bean>

</beans>
